<h1>Customer Manager</h1>


<% if signed_in? %>
  <p>Welcome back, <strong><%= current_user.name %></strong>.</p>
<% else %>
  <p> Welcome to our Customer Manager application.</p>
  <%= link_to "Sign in", login_path , :class => "login_button round" %>
<% end %>
