<% if signed_in? %>
  <section class="round">
       <nav class="round mainmenu">
        <ul>
          <li><%= link_to "Customers", customers_path %></li>
          <li><%= link_to "Users", users_path %></li>
        </ul>
       </nav>
  </section>
<% end %>